* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





.top-container{
  background-color: #eaf6f6;
  padding-top: 50px;
  color: #40514e;
}
body{
  margin: 0;
  text-align: center;
  background-color: #eae3c8;
}
a{
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.top-cloud{
  position: relative;
  left: 250px;
}

.bottom-cloud{
  left: 300px;
  position: absolute;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  width:6%;
  border-color: #eaf6f6;
  margin: 100px auto;
}
#profile-img {
  display: inline-block;
  width: 10%;
  position: sticky;
  border-radius: 50%;
}
.bio{
  width: 30%;
  margin: auto;
}
h1{
  font-family: "Josefin Slab", serif;
  font-size: 90px;
  margin: 1% auto 0 auto;
  color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
}
p{
  color: #40514e;
  font-size: 17px;
  line-height: 2;
}
.web-img{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.draw-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skills{
  padding: 50px 0;
}
.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #499595);
   background-image: -moz-linear-gradient(top, #66BFBF, #499595);
   background-image: -ms-linear-gradient(top, #66BFBF, #499595);
   background-image: -o-linear-gradient(top, #66BFBF, #499595);
   background-image: -webkit-gradient(to bottom, #66BFBF, #499595);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.contact-me{
  margin: 2rem 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 2.5em;
}
.copyright{
  color: #eaf6f6;
  margin-bottom: 0;
  font-size: .75rem;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.footer-link{
  color: #11999E;
  padding: 0 3em;
}
